<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>spring framework</title>
</head>
<body>
<h1>Author List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>first name</th>
        <th>last name</th>
    </tr>
    <tr th:each="author : ${authors1}">
        <td th:text="${author.id}">2468</td>
        <td th:text="${author.firstName}">Joe</td>
        <td th:text="${author.lastName}">Buck</td>
    </tr>
</table>
</body>
</html>